@page "/projects/1"

<div class="mb-3">
    <NavLink class="btn btn-content" href="/projects" Match="NavLinkMatch.All">Go back to projects</NavLink>
</div>

<h3>Software installer for Windows 10 - <span class="polyzynger">Polyzynger</span></h3>

<div>
    <h3>What</h3>
    <hr />
</div>
<div class="row">BLBLBL</div>

<Block Title="Test title" Content="Test content" />
<Block Title="Test title" Content="Test content" />
<Block Title="Test title" Content="Test content" />



@code {

}