@page "/projects/3"

<div class="mb-3">
    <NavLink class="btn btn-content" href="/projects" Match="NavLinkMatch.All">Go back to projects</NavLink>
</div>

<h3>Flatmates searching application - <span class="orange font-italic">flatmates.space</span></h3>
