@page "/projects/2"

<div class="mb-3">
    <NavLink class="btn btn-content" href="/projects" Match="NavLinkMatch.All">Go back to projects</NavLink>
</div>

<h3>Closed questions database - <span class="orange font-italic">Repeat</span></h3>

@* repetitio est mater studiorum *@