@page "/projects"

@inject NavigationManager _navManager

<div class="text-center">
    <h4><span class="orange">Please</span>, feel free to see my work.</h4>
</div>

<div class="container row mx-auto">
    <Project Href="/projects/p1" Title="Software installer (WPF)" Image="/images/polyzyngerIcon.png" />
    <Project Href="/projects/p2" Title="Questionbank (Razor Pages)" Image="/images/repeatIcon.png" Delay="0.1" />
    <Project Href="/projects/p3" Title="Flatmates matcher (ASP.NET Blazor)" Image="/images/inMateIcon.png" Delay="0.2" />
</div>