@page "/projects"

@inject NavigationManager _navManager

<div class="text-center">
    <h1><span class="orange">Please</span>, feel free to see my work.</h1>
</div>

<div class="container row mx-auto">
    <div class="col-12 col-md-6 col-xl-4 px-4 project">
        <div>
            <a href="/projects/1">
                <img src="https://i.pinimg.com/originals/f5/1d/08/f51d08be05919290355ac004cdd5c2d6.png" class="img-fluid" />
                <p>Project 1 - Software installer (WPF)</p>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 px-4 project">
        <div>
            <a href="/projects/2">
                <img src="https://i.pinimg.com/originals/f5/1d/08/f51d08be05919290355ac004cdd5c2d6.png" class="img-fluid" />
                <p>Project 2 - Questionbank (ASP.NET MVC)</p>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 px-4 project">
        <div>
            <a href="/projects/3">
                <img src="https://i.pinimg.com/originals/f5/1d/08/f51d08be05919290355ac004cdd5c2d6.png" class="img-fluid" />
                <p>Project 3 - flatmates.space (ASP.NET Blazor)</p>
            </a>
        </div>
    </div>
</div>