@page "/about"

<div class="text-center">
    <h1>What I <span class="orange">know</span>:</h1>

    <div class="row">
        <h5>Technologies:</h5>
    </div>
    <div class="row mb-4">
        <ProgressBar Name="ASP.NET Core Blazor" Value="80" />
        <ProgressBar Name="ASP.NET Core MVC" Value="70" />
        <ProgressBar Name=".NET Core WPF" Value="70" />
    </div>

    <div class="row">
        <h5>Languages and frameworks:</h5>
    </div>
    <div class="row mb-4">
        <ProgressBar Name="English 🙂" Value="85" />
        <ProgressBar Name="C#" Value="80" />
        <ProgressBar Name="Entity Framework" Value="75" />
        <ProgressBar Name="SQL" Value="75" />
        <ProgressBar Name="HTML / CSS" Value="70" />
        <ProgressBar Name="Bootstrap" Value="60" />
        <ProgressBar Name="ASP.NET Core Identity" Value="40" />
        <ProgressBar Name="Java" Value="40" />
        <ProgressBar Name="C++" Value="40" />
    </div>
        <div class="row">
        <h5>Design patterns:</h5>
    </div>
    <div class="row mb-4">
        <ProgressBar Name="Dependency injection" Value="100" />
        <ProgressBar Name="DDD" Value="100" />
        <ProgressBar Name="CQRS" Value="100" />
        <ProgressBar Name="MVVM" Value="100" />
        <ProgressBar Name="MVC" Value="100" />
    </div>

    <div class="row">
        <div><h5>   Certifications and exams passed:</h5></div>
    </div>
    <div class="row mb-4">
        <div class="col-4 col-md-3 col-lg-2">
            <a class="link" href="https://www.youracclaim.com/badges/a683933e-c79a-4cae-9dea-a71b705a57ce">
                <img class="img-fluid" src="https://images.youracclaim.com/size/680x680/images/4178e678-e9c8-42da-bc8c-e865d3d26db6/MTA-Software-Development-Fundamentals-2019.png"
                     alt="MTA: Software Development Fundamentals - Certified 2019" />
            </a>
        </div>
        <div class="col-4 col-md-3 col-lg-2">
            <a href="https://www.youracclaim.com/badges/135dc596-968c-4d40-9ca9-547ff4b98966">
                <img class="img-fluid" src="https://images.youracclaim.com/size/680x680/images/78e39333-d0db-4931-b231-13bdb37040cc/Programming_in_C_23-01.png"
                     alt="Exam 483: Programming in C#" />
            </a>
        </div>
    </div>

</div>