@page "/expertise"

<div class="text-center">

    <div class="row">
        <div><h5>Certifications and exams I have passed:</h5></div>
    </div>
    <div class="row mb-3">
        <Badge Href="https://www.youracclaim.com/badges/a683933e-c79a-4cae-9dea-a71b705a57ce"
               Img="/images/logo/MTA-Software-Development-Fundamentals-2019.png"
               Alt="MTA: Software Development Fundamentals - Certified 2019" />
        <Badge Href="https://www.youracclaim.com/badges/135dc596-968c-4d40-9ca9-547ff4b98966"
               Img="images/logo/Programming_in_C_23-01.png"
               Alt="Exam 483: Programming in C#" Delay="0.12" />
    </div>

    <div class="row">
        <h5>Languages and libraries I use:</h5>
    </div>
    <div class="row mb-1">
        <Image Src="/images/logo/C_Sharp_logo.png"
               Title="C#" />
        <Image Src="/images/logo/HTML5_logo_and_wordmark.png"
               Title="HTML" Delay="0.1" />
        <Image Src="/images/logo/CSS3_logo_and_wordmark.png"
               Title="CSS" Delay="0.2" />
        <Image Src="/images/logo/Bootstrap_logo.png"
               Title="Bootstrap" Delay="0.3" />
    </div>

    <div class="row">
        <h5>Technologies I learn:</h5>
    </div>
    <div class="row mb-1">
        <Image Src="/images/logo/NET_Core_Logo.png"
               Title="ASP.NET Core" />
        <Image Src="/images/logo/Entity-Framework-Core-Logo.png"
               Title="EF Core" Delay="0.1" />
        <Image Src="/images/logo/Blazor_Logo.jpg"
               Title="Blazor" Delay="0.2" />
    </div>

    <div class="row">
        <h5>Tools I know:</h5>
    </div>
    <div class="row mb-1">
        <Image Src="/images/logo/Visual_Studio_Logo.png"
               Title="Microsoft Visual Studio" />
        <Image Src="/images/logo/GitHub-Mark.png"
               Title="GitHub" Delay="0.1" />
        <Image Src="/images/logo/Jira_Logo.png"
               Title="Jira" Delay="0.2" />
        <Image Src="/images/logo/Confluence_Logo.png"
               Title="Confluence" Delay="0.3" />
    </div>

    <div class="row">
        <h5>I also have some knowledge about:</h5>
    </div>
    <div class="row mb-1">
        <Image Src="images/logo/DB2-Logo.png"
               Title="SQL" />
        <Image Src="/images/logo/C++_Logo.png"
               Title="C++" Delay="0.1" />
        <Image Src="/images/logo/javaLogo.png"
               Title="Java" Delay="0.2" />
    </div>

</div>