@page "/"

<div class="text-center">
    <h1>Hello, I am <span class="orange">Hubert</span>.</h1>
    @*<h2>I am intrested in .NET platform and ASP.NET Core.</h2>*@
    @*<h1>I like to make things <span class="orange">simple</span>.</h1>*@
</div>