@page "/"


<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(1)">
    <p class="h4 mt-1 mb-4 text-center">
        Hello, I'm <b>Hubert</b>. Welcome on my simple portfolio.
    </p>
</Animate>

<IntroLine Delay="0.1">
    I'm third year student of <b>Computer Science</b>.
</IntroLine>

<IntroLine Delay="0.2">
    I focus on learning <b>C#</b>, <b>ASP.NET Core</b> and <b>Entity Framework Core</b> since middle 2019.
</IntroLine>

<IntroLine Delay="0.3">
    I really do involve in things I do.
</IntroLine>