@inherits LayoutComponentBase

<div class="main">
    <div class="sticky-top text-center header">
        <img class="img-fluid p-3 logo-img"
             src="/images/hubertgadnet.png"
             alt="hubertgad.net" />
    </div>
    <NavMenu />
    <div class="container-md row justify-content-center">
        <main class="content px-5 pt-4" role="main">
            @Body
        </main>
    </div>
</div>
<div class="footer align-items-center text-center">
    &copy; 2020 - hubertgad.net
</div>