@inherits LayoutComponentBase

<div class="main">

    <div class="header sticky-top" href="">
        <p class="emoji">🙂🙃😉😀😄😆😅😂🤣😊😇😌😍🥰😘😗😙😚😋😛😝😜🤪🤨🧐🤓😎🤩🥳😏😒😞😔😟😕🙁☹️😣😖😫😩🥺😢😭😤😠😡🤬🤯😳🥵🥶😱😨😰😥😓🤗🤔🤭🤫🤥😶😐😑😬🙄😯😦😧😮😲🥱😴🤤😪😵🤐🥴🤢🤮🤧😷🤒🤕🤑🤠😈👿👹👺🤡💩👻💀☠️👽👾🤖🎃😺😸😹😻😼😽🙀😿😾</p>
    </div>

    <NavMenu />

    <div class="row justify-content-center">
        <div class="content col-11 col-md-10 col-xl-8">
            @Body
        </div>
    </div>

    <div class="footer align-items-center">
        <div class="bg-black p-1" />
        <Footer />
    </div>

</div>