@inherits LayoutComponentBase

<div class="main">
    <div class="sticky-top text-center header">
        <img class="img-fluid p-3 logo-img"
             src="/images/hubertgadnet.png"
             alt="hubertgad.net" />
    </div>
    <NavMenu />
    <main class="container-md row justify-content-center mx-auto main-box" role="main">
        <div class="flex-row px-2 px-md-5 pt-4">
            @Body
        </div>
    </main>
</div>
<div class="footer align-items-center text-center">
    &copy; 2020 - hubertgad.net
</div>