<nav class="navbar-expand-md navbar-dark bg-black sticky-top">

    <div class="navbar-toggler bg-black text-white border-0 rounded-0 text-center" type="button" data-toggle="collapse" data-target="#navmenu"
         aria-controls="#navmenu" aria-expanded="false" aria-label="Navigation toogler">
        <span class="navbar-toggler-icon"></span> Menu
    </div>

    <div class="collapse navbar-collapse custom-navmenu pt-1" id="navmenu">
        <ul class="navbar-nav m-md-auto">
            <li class="nav-item">
                <NavLink class="nav-link btn-menu mr-md-2" href="" Match="NavLinkMatch.All">Hello!</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link btn-menu mr-md-2" href="about">About me</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link btn-menu mr-md-2" href="projects">My projects</NavLink>
            </li>
            @*<li class="nav-item">
                <NavLink class="nav-link btn-menu mr-md-2" href="contact">Contact</NavLink>
            </li>*@
        </ul>
    </div>
</nav>