<div>
    @foreach (var image in Images)
    {
        <img class="col-2 mx-2 img-fluid img-thumbnail photo"
             src="@image.src"
             alt="@image.alt"
             @onclick="() => SelectedImg = image" />
    }
</div>

@if (SelectedImg != (string.Empty, string.Empty))
{
    <Animate Animation="Animations.Fade" class="zoom-bg" @onclick="() => SelectedImg = (string.Empty, string.Empty)">
        <img src="@SelectedImg.src"
             alt="@SelectedImg.alt"
             class="col-11 m-auto img-fluid img-thumbnail zoom" />
    </Animate>
}

@code {
    [Parameter] public List<(string src, string alt)> Images { get; set; }
    public (string src, string alt) SelectedImg { get; set; } = (string.Empty, string.Empty);
}