@if (Zoom)
{
    <Animate Animation="Animations.Fade" class="zoom-bg" @onclick="Hide" >
        <img src="@SelectedImg"
                class="col-11 m-auto img-fluid img-thumbnail zoom" />
    </Animate>
}

<div>
    @foreach (var image in Images)
    {
        <img class="col-2 mx-2 img-fluid img-thumbnail photo" 
             src="@image" @onclick="() => Show(image)" />
    }
</div>

@code {
    [Parameter] public List<string> Images { get; set; }
    public bool Zoom { get; set; } = false;
    public string Style { get; set; } = "";
    public string SelectedImg { get; set; } = "";

    public void Toogle() => Zoom = !Zoom;
    public void Show(string img)
    {
        SelectedImg = img;
        Zoom = true;
    }
    public void Hide() => Zoom = false;
}